### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Zeeslag/Zeeslag Server Alpha/
/Zeeslag/Zeeslag Server Alpha/zeeslag-server-alpha.jar
/Zeeslag/Zeeslag Server Alpha/readme.md
/Zeeslag/Zeeslag Server Alpha/websocket_protocol.md
/Zeeslag/Zeeslag Server Alpha/server.properties
/Zeeslag/Zeeslag Server Alpha/zeeslag-server-protocol.txt
